
    <%= form_for @pin, :url => pins_path, :html => { :multipart => true } do |f| %>

    <%= f.text_field :description, as: :text, input_html: {rows: "3"} %>

    <%= f.file_field :image %>

        <%= f.file_field :avatar %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>


