

<p>
  <strong>Description:</strong>
  <%= @pin.description %><br>
  <small><%= @pin.created_at %><br>
    autor: <%= @pin.user.name %></small>
</p>

<%= image_tag @pin.image.url %>
<%= image_tag @pin.image.url(:medium) %>



<% if current_user == @pin.user %>
<%= link_to 'Edit', edit_pin_path(@pin) %>

<% end %>
<%= link_to 'Back', pins_path %>
