<h2>Zaloguj Się</h2>
 <div class="container master-container">
    <ul class="breadcrumb">
      <%= yield :breadcrumb %>
    </ul>
    <div class='alert alert-info fade in' data-alert='alert'>
      <h3>
        <strong>
          <a href="https://github.com/plataformatec/simple_form">Simple Form</a> and <a href="http://getbootstrap.com/">Bootstrap</a> sample application.
        </strong>
      </h3>
      <p>Here you'll see the usage of <a href="https://github.com/plataformatec/simple_form">Simple Form</a> and the <a href="http://getbootstrap.com/">Bootstrap</a> toolkit on a Rails 4 application.</p>
      <p>You can check the source code on <a href='https://github.com/rafaelfranca/simple_form-bootstrap'>GitHub</a>.</p>
    </div>

    <% if notice %>
      <div class="alert alert-success fade in" data-alert="alert">
        <a class="close" data-dismiss='alert' href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form_horizontal'}) do |f| %>
  
  
  
<% end %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form_horizontal'}) do |f| %>
	
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :remember_me, as: :boolean %>
	<hr>
<div class="form-actions">
   <%= f.submit "Lecimy tutaj" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
